body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

.noticias-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
}

.noticia {
    background-color: #222;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

h2 {
    color: #fff;
}

p {
    color: #ccc;
}

.fecha {
    color: #888;
}

.ver-todas {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}
